@use 'sass:math';
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

// colors
$color-green: #1aa581;
$color-grey: #7e7c89;
$color-black: #000000;
$color-white: #ffffff;

body {
  font-family: Gilroy;
  font-size: rem(16);
  font-weight: 500;
  color: $color-black;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.button {
  font-size: rem(16);
  line-height: 162%;
  color: $color-white;
  font-weight: 700;
  background-color: $color-green;
  padding: rem(17) rem(40);
  text-align: center;

  box-shadow: 0px 67px 80px rgba(26, 165, 129, 0.07),
    0px 43px 46px rgba(26, 165, 129, 0.05),
    0px 25px 25px rgba(26, 165, 129, 0.04),
    0px 13px 13px rgba(26, 165, 129, 0.03), 0px 5px 6px rgba(26, 165, 129, 0.03),
    0px 1px 3px rgba(26, 165, 129, 0.02);
  border-radius: 1000px;
  display: inline-block;
}

h2 {
  font-weight: 700;
  font-size: rem(40);
  line-height: 120%;
  letter-spacing: -0.01em;
  color: $color-black;
  & span {
    color: $color-green;
  }
  @media screen and (max-width: 1024px) {
    font-size: rem(33);
    line-height: 115%;
  }
  @media screen and (max-width: 769px) {
    font-size: rem(26);
    line-height: 110%;
  }
  @media screen and (max-width: 481px) {
    font-size: rem(20);
    line-height: 100%;
  }
}

h3 {
  line-height: 145%;
  font-size: rem(22);
  font-weight: 700;
  @media screen and (max-width: 1024px) {
    font-size: rem(19);
    line-height: 115%;
  }
  @media screen and (max-width: 769px) {
    font-size: rem(18);
    line-height: 110%;
  }
  @media screen and (max-width: 481px) {
    font-size: rem(17);
    line-height: 100%;
  }
}
