body {
  font-size: 16px;
  font-weight: 500;
  font-family: Gilroy;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
