.header {
  &__body {
    max-width: 1840px;
    margin: 0 auto;
  }

  &__logo {
    position: relative;
    left: 0;
    top: 8px;
    z-index: 100;

    & img {
      cursor: pointer;
      position: fixed;
      width: rem(118);
      background-color: rgb(255, 255, 255);
      padding: 10px 10px 10px 20px;

      border-radius: 0px 10px 10px 0px;

      @media screen and (max-width: 1024px) {
        width: rem(118);
        padding: 10px 40px 10px 20px;
      }
      @media screen and (max-width: 769px) {
        width: rem(108);
        padding: 10px 30px 10px 20px;
      }
      @media screen and (max-width: 481px) {
        width: rem(50);
        padding: 10px 10px 10px 10px;
      }
    }
  }
}
