.main {
  &__main-block {
  }
  &__amazon {
    margin: rem(81) auto 0 auto;
    @media screen and (max-width: 1024px) {
      margin: rem(61) auto 0 auto;
    }
    @media screen and (max-width: 769px) {
      margin: 0 auto 0 auto;
    }
  }
  &__marketing {
    margin-top: rem(160);
    @media screen and (max-width: 1024px) {
      margin-top: rem(130);
    }
    @media screen and (max-width: 769px) {
      margin-top: rem(100);
    }
    @media screen and (max-width: 481px) {
      margin-top: rem(40);
    }
  }
}
.main-block {
  position: relative;
  top: 0;
  left: 0;
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(80);
    position: relative;
    z-index: 2;
    @media screen and (max-width: 1024px) {
      padding-top: rem(67);
    }
    @media screen and (max-width: 769px) {
      display: block;
      padding-top: rem(40);
    }
    @media screen and (max-width: 481px) {
      padding-top: rem(30);
    }
  }

  &__info {
    flex: 0 1 50%;
    padding-right: rem(20);
    @media screen and (max-width: 1024px) {
      padding-right: rem(10);
    }
    @media screen and (max-width: 769px) {
      flex: 1 1 100%;
      padding-right: 0;
      text-align: center;
    }
  }

  &__title {
    font-family: Gilroy;
    font-weight: 700;
    font-size: rem(60);
    line-height: 123%;
    letter-spacing: -0.02em;
    color: $color-black;
    max-width: rem(583);

    & span {
      text-transform: uppercase;
      color: $color-green;
    }

    @media screen and (max-width: 1024px) {
      font-size: rem(43);
      line-height: 103%;
      max-width: rem(383);
    }
    @media screen and (max-width: 769px) {
      font-size: rem(33);
      line-height: 103%;
      max-width: rem(283);
      margin: 0 auto;
    }
    @media screen and (max-width: 481px) {
      font-size: rem(28);
      max-width: rem(253);
    }
  }

  &__text {
    margin-top: rem(22);
    font-weight: 400;
    font-size: rem(20);
    line-height: 150%;
    letter-spacing: -0.02em;
    color: $color-grey;

    @media screen and (max-width: 1024px) {
      margin-top: rem(18);
      font-size: rem(18);
      line-height: 130%;
    }
    @media screen and (max-width: 769px) {
      margin-top: rem(16);
      font-size: rem(16);
      line-height: 120%;
    }
  }

  &__button {
    display: inline-block;
    margin-top: rem(36);
    font-size: rem(16);
    line-height: 162%;
    color: $color-white;
    font-weight: 700;
    background-color: $color-green;
    padding: rem(17) rem(40);
    text-align: center;

    box-shadow: 0px 67px 80px rgba(26, 165, 129, 0.07),
      0px 43px 46px rgba(26, 165, 129, 0.05),
      0px 25px 25px rgba(26, 165, 129, 0.04),
      0px 13px 13px rgba(26, 165, 129, 0.03),
      0px 5px 6px rgba(26, 165, 129, 0.03), 0px 1px 3px rgba(26, 165, 129, 0.02);
    border-radius: 1000px;

    @media screen and (max-width: 1024px) {
      margin-top: rem(28);
    }
    @media screen and (max-width: 769px) {
      max-width: 400px;
      width: 100%;
    }
    @media screen and (max-width: 481px) {
      max-width: none;
      width: 100%;
    }
  }

  &__image {
    flex: 0 1 50%;
    & img {
      max-width: 705px;
      width: 100%;
    }

    @media screen and (max-width: 769px) {
      max-width: 450px;
      margin: rem(40) auto 0 auto;
      text-align: center;
      & img {
        width: 90%;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0%);
    z-index: 0;
    width: 50%;
    & img {
      //   width: 100%;
    }
  }
}

.amazon {
  max-width: 1880px;
  padding: 0 20px;
  @media screen and (max-width: 769px) {
    margin-top: rem(-110);
  }
  &__inner {
    background-color: #f7f7fa;
    border-radius: 20px;
  }
  &__container {
  }

  &__body {
    background: url('../../img/amazon-block/flags.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: rem(60) 0px;
    @media screen and (max-width: 1440px) {
      background-size: 100%;
    }
    @media screen and (max-width: 1024px) {
      padding: rem(50) 0px;
    }
    @media screen and (max-width: 769px) {
      padding: rem(140) 0 rem(40) 0px;
      background: none;
    }
    @media screen and (max-width: 481px) {
      padding: rem(140) 0 rem(40) 0px;
    }
  }

  &__title {
    max-width: rem(585);
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: rem(485);
    }
    @media screen and (max-width: 769px) {
      max-width: rem(385);
    }
    @media screen and (max-width: 481px) {
      max-width: rem(285);
    }
  }

  &__text {
    max-width: rem(705);
    margin: rem(22) auto 0 auto;
    text-align: center;
    font-weight: 400;
    line-height: 175%;

    @media screen and (max-width: 1024px) {
      margin: rem(18) auto 0 auto;
      line-height: 165%;
      max-width: rem(505);
    }
    @media screen and (max-width: 769px) {
      margin: rem(17) auto 0 auto;
      line-height: 155%;
      max-width: rem(405);
    }
    @media screen and (max-width: 481px) {
      margin: rem(16) auto 0 auto;
      line-height: 145%;
      max-width: rem(235);
    }
  }
}

.marketing {
  &__body {
  }

  &__title {
    max-width: rem(460);
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 0px rem(10);
    @media screen and (max-width: 1024px) {
      max-width: rem(380);
    }
    @media screen and (max-width: 514px) {
      max-width: rem(350);
    }
  }

  &__development-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(50);

    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
      margin-top: rem(40);
    }
    @media screen and (max-width: 514px) {
      justify-content: space-between;
      margin-top: rem(30);
    }
  }

  &__services-list {
  }
}

.development-list {
  &__item {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 150px;

    @media screen and (max-width: 1024px) {
      flex: 0 1 22%;
    }
    @media screen and (max-width: 514px) {
      flex: 0 1 35%;
      padding: 0 rem(10);
    }
    @media screen and (max-width: 382px) {
      flex: 0 1 150px;
    }
  }

  &__icon {
    max-width: 100px;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 100%;
    & img {
      width: 100%;
    }
  }

  &__label {
    margin: 0 auto 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: rem(16);
    line-height: 138%;
    @media screen and (max-width: 1230px) {
      font-size: rem(14);
    }
    @media screen and (max-width: 514px) {
      font-size: rem(13);
    }
  }

  &__line {
    align-self: flex-start;
    margin-top: 51px;
    max-width: 116px;
    width: 100%;

    @media screen and (max-width: 1230px) {
      max-width: 80px;
    }
    @media screen and (max-width: 1024px) {
      width: 90px;
    }
    @media screen and (max-width: 514px) {
      width: 80px;
    }
    @media screen and (max-width: 382px) {
      display: none;
    }
  }
}

.services-list {
  margin-top: rem(60);
  border-top: 1px solid #ededf0;
  padding-top: rem(60);
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 769px) {
    margin-top: rem(40);
    padding-top: rem(40);
  }
  @media screen and (max-width: 481px) {
    margin-top: rem(30);
    padding-top: rem(30);
  }

  &__title {
    max-width: rem(460);
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 769px) {
      max-width: rem(360);
    }
    @media screen and (max-width: 481px) {
      max-width: rem(300);
      padding: 0px 10px;
    }
  }

  &__items {
    margin-top: rem(55);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(40);
    @media screen and (max-width: 769px) {
      flex-wrap: wrap;
      column-gap: 0;
      margin-top: rem(38);
    }
    @media screen and (max-width: 481px) {
      margin-top: rem(25);
    }
  }
  &__item-inner {
    flex: 0 1 25%;
    display: flex;

    @media screen and (max-width: 769px) {
      flex: 0 1 50%;
      padding: 10px;
      justify-content: center;
    }
    @media screen and (max-width: 481px) {
      flex: 1 1 100%;
    }
  }
  &__item {
    display: flex;
    align-items: center;

    @media screen and (max-width: 769px) {
      flex: 0 1 200px;
    }
    @media screen and (max-width: 481px) {
      flex: 0 1 200px;
    }
  }
  &__icon {
    max-width: rem(60);
    margin-right: rem(15);
    & img {
      width: 100%;
    }
  }

  &__label {
    max-width: rem(133);
    font-weight: 400;
    font-size: rem(16);
    line-height: 138%;
  }
}

.line-disable {
  @media screen and (max-width: 1024px) {
    display: none;
  }
  @media screen and (max-width: 514px) {
    display: block;
  }
  @media screen and (max-width: 382px) {
    display: none;
  }
}
.line-disable-second {
  @media screen and (max-width: 514px) {
    display: none;
  }
  @media screen and (max-width: 382px) {
    display: none;
  }
}
