.main {
  &__main-block {
  }
  &__amazon {
    margin: rem(81) auto 0 auto;
    @media screen and (max-width: 1024px) {
      margin: rem(61) auto 0 auto;
    }
    @media screen and (max-width: 769px) {
      margin: 0 auto 0 auto;
    }
  }
  &__marketing {
    margin-top: rem(160);
    @media screen and (max-width: 1024px) {
      margin-top: rem(130);
    }
    @media screen and (max-width: 769px) {
      margin-top: rem(100);
    }
    @media screen and (max-width: 481px) {
      margin-top: rem(40);
    }
  }
  &__support {
    margin: rem(160) auto 0 auto;
    @media screen and (max-width: 1024px) {
      margin: rem(130) auto 0 auto;
    }
    @media screen and (max-width: 769px) {
      margin: rem(70) auto 0 auto;
    }
    @media screen and (max-width: 481px) {
      margin: rem(40) auto 0 auto;
    }
  }
  &__structure {
    margin: rem(38) auto 0 auto;

    @media screen and (max-width: 1092px) {
      margin-top: rem(20);
    }
  }
  &__managment {
    margin: rem(42) auto 0 auto;
    @media screen and (max-width: 1024px) {
      margin-top: rem(20);
    }
  }
}
.main-block {
  position: relative;
  top: 0;
  left: 0;
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(80);
    position: relative;
    z-index: 2;
    @media screen and (max-width: 1024px) {
      padding-top: rem(67);
    }
    @media screen and (max-width: 769px) {
      display: block;
      padding-top: rem(40);
    }
    @media screen and (max-width: 481px) {
      padding-top: rem(30);
    }
  }

  &__info {
    flex: 0 1 50%;
    padding-right: rem(20);
    @media screen and (max-width: 1024px) {
      padding-right: rem(10);
    }
    @media screen and (max-width: 769px) {
      flex: 1 1 100%;
      padding-right: 0;
      text-align: center;
    }
  }

  &__title {
    font-family: Gilroy;
    font-weight: 700;
    font-size: rem(60);
    line-height: 123%;
    letter-spacing: -0.02em;
    color: $color-black;
    max-width: rem(583);

    & span {
      text-transform: uppercase;
      color: $color-green;
    }

    @media screen and (max-width: 1024px) {
      font-size: rem(43);
      line-height: 103%;
      max-width: rem(383);
    }
    @media screen and (max-width: 769px) {
      font-size: rem(33);
      line-height: 103%;
      max-width: rem(283);
      margin: 0 auto;
    }
    @media screen and (max-width: 481px) {
      font-size: rem(28);
      max-width: rem(253);
    }
  }

  &__text {
    margin-top: rem(22);
    font-weight: 400;
    font-size: rem(20);
    line-height: 150%;
    letter-spacing: -0.02em;
    color: $color-grey;

    @media screen and (max-width: 1024px) {
      margin-top: rem(18);
      font-size: rem(18);
      line-height: 130%;
    }
    @media screen and (max-width: 769px) {
      margin-top: rem(16);
      font-size: rem(16);
      line-height: 120%;
    }
  }

  &__button {
    margin-top: rem(36);

    @media screen and (max-width: 1024px) {
      margin-top: rem(28);
    }
    @media screen and (max-width: 769px) {
      max-width: 400px;
      width: 100%;
    }
    @media screen and (max-width: 481px) {
      max-width: none;
      width: 100%;
    }
  }

  &__image {
    flex: 0 1 50%;
    & img {
      max-width: 705px;
      width: 100%;
    }

    @media screen and (max-width: 769px) {
      max-width: 450px;
      margin: rem(40) auto 0 auto;
      text-align: center;
      & img {
        width: 90%;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0%);
    z-index: 0;
    width: 50%;
    & img {
      //   width: 100%;
    }
  }
}

.amazon {
  max-width: 1880px;
  padding: 0 20px;
  @media screen and (max-width: 769px) {
    margin-top: rem(-110);
  }
  &__inner {
    background-color: #f7f7fa;
    border-radius: 20px;
  }
  &__container {
  }

  &__body {
    background: url('../../img/amazon-block/flags.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: rem(60) 0px;
    @media screen and (max-width: 1440px) {
      background-size: 100%;
    }
    @media screen and (max-width: 1024px) {
      padding: rem(50) 0px;
    }
    @media screen and (max-width: 769px) {
      padding: rem(140) 0 rem(40) 0px;
      background: none;
    }
    @media screen and (max-width: 481px) {
      padding: rem(140) 0 rem(40) 0px;
    }
  }

  &__title {
    max-width: rem(585);
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: rem(485);
    }
    @media screen and (max-width: 769px) {
      max-width: rem(385);
    }
    @media screen and (max-width: 481px) {
      max-width: rem(285);
    }
  }

  &__text {
    max-width: rem(705);
    margin: rem(22) auto 0 auto;
    text-align: center;
    font-weight: 400;
    line-height: 175%;

    @media screen and (max-width: 1024px) {
      margin: rem(18) auto 0 auto;
      line-height: 165%;
      max-width: rem(505);
    }
    @media screen and (max-width: 769px) {
      margin: rem(17) auto 0 auto;
      line-height: 155%;
      max-width: rem(405);
    }
    @media screen and (max-width: 481px) {
      margin: rem(16) auto 0 auto;
      line-height: 145%;
      max-width: rem(235);
    }
  }
}

.marketing {
  &__body {
  }

  &__title {
    max-width: rem(460);
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 0px rem(10);
    @media screen and (max-width: 1024px) {
      max-width: rem(380);
    }
    @media screen and (max-width: 514px) {
      max-width: rem(350);
    }
  }

  &__development-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(50);

    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
      margin-top: rem(40);
    }
    @media screen and (max-width: 514px) {
      justify-content: space-between;
      margin-top: rem(30);
    }
  }

  &__services-list {
  }
}

.development-list {
  &__item {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 150px;

    @media screen and (max-width: 1024px) {
      flex: 0 1 22%;
    }
    @media screen and (max-width: 514px) {
      flex: 0 1 35%;
      padding: 0 rem(10);
    }
    @media screen and (max-width: 382px) {
      flex: 0 1 150px;
    }
  }

  &__icon {
    max-width: 100px;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 100%;
    & img {
      width: 100%;
    }
  }

  &__label {
    margin: 0 auto 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: rem(16);
    line-height: 138%;
    @media screen and (max-width: 1230px) {
      font-size: rem(14);
    }
    @media screen and (max-width: 514px) {
      font-size: rem(13);
    }
  }

  &__line {
    align-self: flex-start;
    margin-top: 51px;
    max-width: 116px;
    width: 100%;

    @media screen and (max-width: 1230px) {
      max-width: 80px;
    }
    @media screen and (max-width: 1024px) {
      width: 90px;
    }
    @media screen and (max-width: 514px) {
      width: 80px;
    }
    @media screen and (max-width: 382px) {
      display: none;
    }
  }
}

.services-list {
  margin-top: rem(60);
  border-top: 1px solid #ededf0;
  padding-top: rem(60);
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 769px) {
    margin-top: rem(40);
    padding-top: rem(40);
  }
  @media screen and (max-width: 481px) {
    margin-top: rem(30);
    padding-top: rem(30);
  }

  &__title {
    max-width: rem(460);
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 769px) {
      max-width: rem(360);
    }
    @media screen and (max-width: 481px) {
      max-width: rem(300);
      padding: 0px 10px;
    }
  }

  &__items {
    margin-top: rem(55);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(40);
    @media screen and (max-width: 769px) {
      flex-wrap: wrap;
      column-gap: 0;
      margin-top: rem(38);
    }
    @media screen and (max-width: 481px) {
      margin-top: rem(25);
    }
  }
  &__item-inner {
    flex: 0 1 25%;
    display: flex;

    @media screen and (max-width: 769px) {
      flex: 0 1 50%;
      padding: 10px;
      justify-content: center;
    }
    @media screen and (max-width: 481px) {
      flex: 1 1 100%;
    }
  }
  &__item {
    display: flex;
    align-items: center;

    @media screen and (max-width: 769px) {
      flex: 0 1 200px;
    }
    @media screen and (max-width: 481px) {
      flex: 0 1 200px;
    }
  }
  &__icon {
    max-width: rem(60);
    margin-right: rem(15);
    & img {
      width: 100%;
    }
  }

  &__label {
    max-width: rem(133);
    font-weight: 400;
    font-size: rem(16);
    line-height: 138%;
  }
}

.line-disable {
  @media screen and (max-width: 1024px) {
    display: none;
  }
  @media screen and (max-width: 514px) {
    display: block;
  }
  @media screen and (max-width: 382px) {
    display: none;
  }
}
.line-disable-second {
  @media screen and (max-width: 514px) {
    display: none;
  }
  @media screen and (max-width: 382px) {
    display: none;
  }
}

.support {
  max-width: 1880px;
  padding: 0 20px;
  &__inner {
    background-color: #f7f7fa;
    border-radius: 20px;
    padding: rem(50) 0;
    @media screen and (max-width: 1024px) {
      padding: rem(40) 0;
    }
    @media screen and (max-width: 769px) {
      padding: rem(30) 0;
    }
    @media screen and (max-width: 481px) {
      padding: rem(25) 0;
    }
  }

  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    column-gap: rem(153);

    @media screen and (max-width: 1227px) {
      column-gap: rem(0);
    }
    @media screen and (max-width: 769px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__info {
    flex: 0 1 rem(705);
    @media screen and (max-width: 969px) {
      order: 2;
    }
    @media screen and (max-width: 769px) {
      flex: 1 1 100%;
    }
  }

  &__title {
    max-width: rem(650);

    @media screen and (max-width: 1024px) {
      max-width: rem(450);
    }

    @media screen and (max-width: 769px) {
      margin: rem(30) auto 0 auto;
      max-width: rem(400);
      text-align: center;
    }
    @media screen and (max-width: 481px) {
      max-width: rem(300);
      margin: rem(20) auto 0 auto;
    }
  }

  &__text {
    margin-top: rem(22);
    font-weight: 400;
    font-size: rem(16);
    line-height: 175%;
    color: $color-grey;

    @media screen and (max-width: 1024px) {
      margin-top: rem(20);
    }
    @media screen and (max-width: 769px) {
      margin-top: rem(18);
      font-size: rem(14);
      line-height: 145%;
      text-align: center;
    }
    @media screen and (max-width: 481px) {
      margin-top: rem(17);
    }
  }

  &__button {
    margin-top: rem(36);

    @media screen and (max-width: 1024px) {
      margin-top: rem(32);
    }
    @media screen and (max-width: 769px) {
      width: 100%;
      margin-top: rem(28);
    }
    @media screen and (max-width: 481px) {
      margin-top: rem(22);
    }
  }

  &__image {
    flex: 0 1 rem(582);
    @media screen and (max-width: 969px) {
      order: 1;
    }
    @media screen and (max-width: 769px) {
      flex: 0 1 70%;
    }
    @media screen and (max-width: 481px) {
      flex: 0 1 90%;
    }
    & img {
      width: 100%;
    }
  }
}

.structure {
  max-width: 1880px;
  padding: 0 20px;
  &__inner {
    background-color: $color-green;
    border-radius: 20px;
    padding: rem(80) 0;
    background-image: url('../../img/structure-block/patterns-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 1272px) {
      padding: rem(60) 0;
    }
    @media screen and (max-width: 1092px) {
      padding: rem(50) 0;
    }
    @media screen and (max-width: 460px) {
      padding: rem(30) 0;
    }
  }

  &__container {
  }

  &__body {
  }

  &__title {
    color: $color-white;
    max-width: rem(525);
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 1272px) {
      max-width: rem(525);
      padding: 0 rem(10);
    }
    @media screen and (max-width: 1092px) {
      max-width: rem(425);
    }
    @media screen and (max-width: 460px) {
      max-width: rem(225);
    }
  }

  &__plan {
    margin-top: rem(50);
    @media screen and (max-width: 1272px) {
      margin-top: rem(40);
    }
    @media screen and (max-width: 1092px) {
      margin-top: rem(35);
    }
    @media screen and (max-width: 460px) {
      margin-top: rem(30);
    }
  }

  &__results {
  }
}
.plan {
  &__items {
    display: flex;
    justify-content: center;
  }
  &__layer-one {
  }

  &__item {
    max-width: rem(264);
    width: 100%;
    background-color: $color-white;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
      0px 64px 46px rgba(0, 0, 0, 0.03), 0px 38px 25px rgba(0, 0, 0, 0.02),
      0px 20px 13px rgba(0, 0, 0, 0.02), 0px 8px 6px rgba(0, 0, 0, 0.02),
      0px 2px 3px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    padding: rem(20);

    display: flex;
    align-items: center;

    @media screen and (max-width: 1272px) {
      max-width: rem(204);
    }
  }

  &__icon {
    padding-right: rem(10);
  }

  &__label {
    text-align: center;
    display: flex;

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: rem(16);
    line-height: 138%;

    letter-spacing: -0.02em;

    @media screen and (max-width: 1272px) {
      font-size: rem(14);
      line-height: 108%;
    }
  }

  &__arrow {
    text-align: center;
  }

  &__layer-two {
    & .plan__items {
      column-gap: rem(326);
      @media screen and (max-width: 1092px) {
        column-gap: rem(130);
      }
    }
    @media screen and (max-width: 544px) {
      & .plan__items {
        column-gap: rem(0);
        flex-wrap: wrap;
        row-gap: rem(10);
      }

      & .plan__item {
        max-width: none;
        flex: 1 1 rem(300);
      }
      & .plan__label {
        justify-content: flex-start;
      }
    }
  }

  &__layer-three {
    & .plan__items {
      column-gap: rem(30);
    }
    @media screen and (max-width: 1092px) {
      & .plan__items {
        column-gap: rem(10);
        row-gap: rem(10);
        flex-wrap: wrap;
      }
      & .plan__item {
        flex-grow: 1;
        max-width: none;
        flex: 1 1 rem(250);
      }
      & .plan__label {
        justify-content: flex-start;
      }
    }
    @media screen and (max-width: 544px) {
      margin-top: rem(20);
    }
  }
}
.arrow-one {
  @media screen and (max-width: 1272px) {
    & img {
      width: rem(550);
    }
  }
  @media screen and (max-width: 1092px) {
    & img {
      width: rem(340);
    }
  }
  @media screen and (max-width: 460px) {
    & img {
      width: rem(240);
    }
  }
  @media screen and (max-width: 360px) {
    & img {
      width: rem(200);
    }
  }
}
.arrow-two {
  @media screen and (max-width: 1272px) {
    & img {
      width: rem(940);
    }
  }
  @media screen and (max-width: 1092px) {
    & img {
      width: rem(740);
    }
  }
  @media screen and (max-width: 834px) {
    & img {
      width: rem(440);
    }
  }
  @media screen and (max-width: 544px) {
    display: none;
  }
}
.arrow-three {
  @media screen and (max-width: 1272px) {
    & img {
      width: rem(920);
    }
  }
  @media screen and (max-width: 1092px) {
    & img {
      width: rem(640);
    }
  }
  @media screen and (max-width: 734px) {
    & img {
      width: rem(440);
    }
  }
  @media screen and (max-width: 544px) {
    display: none;
  }
}
.results {
  margin-top: rem(45);
  &__title {
    text-align: center;
  }
  &__items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: rem(30);
    row-gap: rem(16);
    margin-top: rem(25);
    @media screen and (max-width: 481px) {
      column-gap: rem(0);
      row-gap: rem(10);
    }
  }
  &__item {
    flex: 0 1 rem(460);
    background-color: $color-white;
    display: flex;
    flex-flow: row nowrap;
    padding: rem(17) rem(30);
    align-items: center;
    border-radius: 10px;
    @media screen and (max-width: 1510px) {
      flex-grow: 1;
    }
  }

  &__icon {
    padding-right: rem(10);
  }

  &__label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: rem(16);
    line-height: 138%;
    text-align: center;
  }
}

.managment {
  max-width: 1880px;
  padding: 0 20px;
  &__inner {
    background-color: #f7f7fa;
    border-radius: 20px;
    padding: rem(80) 0;

    @media screen and (max-width: 1024px) {
      padding: rem(60) 0;
    }
    @media screen and (max-width: 769px) {
      padding: rem(40) 0;
    }
    @media screen and (max-width: 481px) {
      padding: rem(30) 0;
    }
  }

  &__container {
  }

  &__body {
  }

  &__title {
    text-align: center;
    max-width: rem(600);
    margin: 0 auto;
    font-weight: 700;
    padding: 0 10px;
    @media screen and (max-width: 1024px) {
      max-width: rem(500);
    }
    @media screen and (max-width: 769px) {
      max-width: rem(400);
    }
    @media screen and (max-width: 481px) {
      max-width: rem(300);
    }
  }

  &__text {
    margin-top: rem(20);
    text-align: center;
    font-weight: 400;
    font-size: rem(14);
    color: #64607d;
    @media screen and (max-width: 1024px) {
      margin-top: rem(18);
    }
    @media screen and (max-width: 769px) {
      margin-top: rem(17);
    }
    @media screen and (max-width: 481px) {
      margin-top: rem(16);
    }
  }

  &__list-items {
    margin-top: rem(50);
    position: relative;
    padding-bottom: rem(90);
    @media screen and (max-width: 1024px) {
      padding-bottom: rem(70);
      margin-top: rem(40);
    }
    @media screen and (max-width: 769px) {
      padding-bottom: rem(50);
      margin-top: rem(35);
    }
    @media screen and (max-width: 481px) {
      padding-bottom: rem(0);
      margin-top: rem(30);
    }
  }

  &__items-on {
    display: flex;

    column-gap: rem(30);

    @media screen and (max-width: 1171px) {
      flex-wrap: wrap;
      column-gap: rem(20);
      row-gap: rem(20);
    }
  }

  &__items-under {
    display: flex;
    justify-content: center;
    column-gap: rem(30);
    @media screen and (max-width: 1171px) {
      column-gap: rem(20);
      row-gap: rem(20);
    }
    @media screen and (max-width: 481px) {
      display: none;
    }
  }
}

.item-on {
  position: relative;
  z-index: 2;
  &__item {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
      0px 64px 46px rgba(0, 0, 0, 0.03), 0px 38px 25px rgba(0, 0, 0, 0.02),
      0px 20px 13px rgba(0, 0, 0, 0.02), 0px 8px 6px rgba(0, 0, 0, 0.02),
      0px 2px 3px rgba(0, 0, 0, 0.01);
  }
}
.item-managment {
  flex: 0 1 rem(215);
  background: #ffffff;
  border-radius: 10px;
  padding: rem(25) rem(30);

  @media screen and (max-width: 1171px) {
    flex: 1 1 rem(215);
  }
  &__label {
    font-weight: 400;
    font-size: rem(16);
    color: $color-black;
    line-height: 138%;
  }

  &__price {
    margin-top: rem(6);
    font-weight: 700;
    font-size: rem(30);
    line-height: 107%;
  }

  &__increase {
    margin-top: rem(15);
    display: flex;
    align-items: center;
    padding: rem(3.5) rem(16) rem(3.5) rem(10);
    background: #e8f6f2;
    max-width: rem(76);
    border-radius: 20px;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  &__value {
    font-weight: 700;
    font-size: rem(16);
    line-height: 138%;

    letter-spacing: -0.02em;

    color: #1aa581;
  }
}
.item-managment-lower {
  & .item-managment__increase {
    background: #fff6eb;
  }
  & .item-managment__value {
    color: #ffa733;
  }
}
.item-under {
  position: absolute;
  width: 100%;
  top: 38%;
  left: 0;
  opacity: 0.15;
  filter: blur(2px);
  z-index: 0;
  &__item {
    width: rem(215);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
      0px 64px 46px rgba(0, 0, 0, 0.03), 0px 38px 25px rgba(0, 0, 0, 0.02),
      0px 20px 13px rgba(0, 0, 0, 0.02), 0px 8px 6px rgba(0, 0, 0, 0.02),
      0px 2px 3px rgba(0, 0, 0, 0.01);

    @media screen and (max-width: 1171px) {
      flex: 1 1 rem(115);
    }
  }

  @media screen and (max-width: 1171px) {
    display: flex;
    flex-flow: row wrap;
    top: 68%;
  }
  @media screen and (max-width: 481px) {
    display: none;
  }
}
